# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# IntelliJIdea files
.idea

# macOS files
.DS_Store

# Sensitive data
.env

# Kotlin files
.kotlin